<nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
  <a class="navbar-brand" >Book My Hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item " routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" >Home </a>
      </li>



      <li class="nav-item" routerLink='/about' routerLinkActive='active'>
        <a class="nav-link" >About </a>
      </li>



      <li class="nav-item dropdown" *ngIf='mainService.isAdmin'>
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink='/admin/room' >Add Room</a>
          <a class="dropdown-item" routerLink='/admin/category'>Add New Category</a>
          <a class="dropdown-item" routerLink='/admin/facility'>Add New Facility</a>
        </div>
      </li>




      <li class="nav-item dropdown" *ngIf='mainService.isAdmin'>
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink='/admin/roomreport' >Room Reports</a>
          <a class="dropdown-item" routerLink='/admin/categoryreport'>Category Reports</a>
          <a class="dropdown-item" routerLink='/admin/facilityreport'>Facility Reports</a>
          <a class="dropdown-item" routerLink='/admin/booking'>Booking Reports</a>
        </div>
      </li>



      <li class="nav-item" routerLink='/user/bookroom'>
        <a class="nav-link" *ngIf='!mainService.isAdmin'>Book Room </a>
      </li>





      <li class="nav-item" routerLink='/user/mybooking'>
        <a class="nav-link" *ngIf='mainService.isUser'>My Booking</a>
      </li>

      <li class="nav-item" routerLink='/admin'>
        <a class="nav-link" *ngIf=' mainService.isAdmin'>My Account</a>
      </li>

      <li class="nav-item" routerLink='/user'>
        <a class="nav-link" *ngIf=' mainService.isUser'>My Account</a>
      </li>



      <li class="nav-item" routerLink='/register' routerLinkActive='active'
      *ngIf='!mainService.isLogin'>
        <a class="nav-link">Register</a>
      </li>



      <li class="nav-item" routerLink='/login' routerLinkActive='active'
      *ngIf='!mainService.isLogin'>
        <a class="nav-link"  >Login</a>
      </li>



      <li class="nav-item" *ngIf='mainService.isLogin'>
          <a class="nav-link" (click)=' logout()'>Logout</a>
      </li>



    </ul>
  </div>
</nav>
