<div class="container">
  <div class="row mt-3">
    <h1>SELECTED ROOM DETAILS</h1>
    <div class="card" style="width: 80rem;">
        <div class="card-body">
          <div class="row">
          <div class="col-md-6">
              <img class="card-img-top" [src]='roomDetail.roomimage'>
          </div>
            <div class="col-md-6 ">
                <h2>Room Type : {{roomDetail.roomtype}}</h2>
                <h2>Max Adults : {{roomDetail.maxadults}}</h2>
                <h2>Max Childs : {{roomDetail.maxchilds}}</h2>
                <h2>Room Fare  : {{roomDetail.roomfare}}</h2>


          </div>
          </div>
        </div>
    </div>


  </div>
<hr noshade width='100%'>
<div class="row mt-2">
   <h1>BOOK YOUR ROOM</h1>
   <form >




   </form>
</div>





</div>
